{% extends "DiggerIcardGalleryBundle::layout.html.twig" %}

{% block content %}
    <div class="row-fluid">
        <div class="alert alert-info">
            {{ pagination.getTotalItemCount }} images in listing.
        </div>
        <table class="table">
            <tr>
                {# sorting of properties based on query components #}
                <th{% if pagination.isSorted('a.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id'|trans({foo:'bar'},'messages'), 'a.id' )|raw }}</th>
                <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title')|raw }}</th>
                <th{% if pagination.isSorted('a.note') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Note'|trans({}, 'messages'), 'a.note' )|raw }}</th>
                <th{% if pagination.isSorted('a.created_at') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'CreatedAt'|trans({}, 'messages'), 'a.created_at' )|raw }}</th>
            </tr>
            <!-- Content of the table -->
        </table>
        {% for image in pagination  %}
            <div class="media">
                <a href="{{ path('view', {'id': image.getId}) }}" class="pull-left thumbnail">
                    <img   src="{{ asset(image.getThumbPath(image.path)) }}" class="media-object" alt="Sample Image">
                </a>
                <p>
                    <span class="badge badge-inverse">{{ image.getId }}</span>
                    <a href="{{ path('view', {'id': image.getId}) }}" class="btn btn-primary"><i class="icon-picture icon-white"></i>  Full View</a>
                    <a href="{{ path('remove', {'id': image.getId}) }}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger"><i class="icon-trash icon-white"></i>  Remove</a>
                    <a href="{{ path('upload_edit', {'id': image.getId}) }}"  class="btn btn-success"><i class="icon-pencil icon-white"></i>  Edit</a>
                </p>
                <div class="media-body">
                    <h4 class="media-heading">{{ image.title }}  <small><i>{{ image.createdAt|date("F jS \\a\\t g:ia") }}</i></small></h4>
                    <p>{{ image.note }}</p>
                </div>
            </div>
            <hr />
        {% else %}
            <div class="content">
                 <div class="alert alert-error">No images.</div>
            </div>
        {% endfor %}
   </div> 
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

