{% extends "DiggerIcardGalleryBundle::layout.html.twig" %}

{% block content %}
	
    <div class="row-fluid">
        <div class="well">
            {{ form_start(form, {'attr': {'id': 'image_upload_form'}}) }}
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

