<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
  
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        footer {
            padding-left:10px;;
        }
        ul {         
            padding:0 0 0 0;
            margin:0 0 0 0;
        }
        ul li {     
            list-style:none;
            margin-bottom:25px;           
        }
        ul li img {
            cursor: pointer;
        }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
       {{ knp_menu_render('main', { 'currentClass': 'active'}) }}
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </div>
    {% block body %}
    <section class="section">
       {%- include "DiggerIcardGalleryBundle::flash.html.twig" %}
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%- include "DiggerIcardGalleryBundle::footer.html.twig" %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
  </body>
</html>